//-- button --
%button {
    display: block;
    width: 240px;
    padding: 10px 0;
    margin: 0 auto;
    @include font(16px, Doris, normal, 0);
}

//-- circles --
%circles {
    display: inline-block;
    >div {
        @include size(10px, 10px);
        margin: 20px 10px 20px;
        border-radius: 50%;
        background-color: $white;
    }
}

// -- dialog-box --
%dialog-box {
    background-color: $primary;
    color: $white;
    @include font(20px, Doris, normal, 4px);
    &::before {
        content: "";
        position: absolute;
        @include size(50px, 25px);
        left: 0;
        right: 0;
        bottom: -23px;
        margin: 0 auto;
        clip-path: polygon(0 0, 100% 0, 50% 100%);
        background-color: $primary;
        z-index: 5;
    }
}