@import url("https://fonts.googleapis.com/css?family=Domine|Dosis:400,500,600,700|Lobster&display=swap");
@import url("https://static.parastorage.com/services/third-party/fonts/Helvetica/fontFace.css");
body,
h1,
h2,
h3,
h4 {
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  text-align: center;
}

a {
  text-decoration: none;
  color: #E5E4E4;
}

span {
  font-size: 16px;
  font-family: Doris;
  font-weight: normal;
  letter-spacing: 2px;
}

h1 {
  word-spacing: 10px;
  font-style: italic;
  color: #E5E4E4;
  font-size: 55px;
  font-family: Domine;
  font-weight: 400;
  letter-spacing: 5px;
}

@media all and (min-width: 992px) {
  h1 {
    font-size: 65px;
  }
}

h1 > span {
  font-size: 66px;
  font-family: Lobster;
  font-weight: normal;
  letter-spacing: 1px;
}

h2 {
  margin: 0;
  color: #FF0048;
  font-size: 40px;
  font-family: Domine;
  font-weight: normal;
  letter-spacing: 3px;
}

h4 {
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

h5 {
  margin-bottom: 16vh;
  line-height: 1.5;
  color: #E5E4E4;
  font-size: 18px;
  font-family: Domine;
  font-weight: normal;
  letter-spacing: 10px;
}

@media all and (min-width: 992px) {
  h5 {
    font-size: 25px;
  }
}

img {
  width: 100%;
  vertical-align: middle;
}

figure {
  margin: 0 0 100px;
}

nav {
  font-size: 0;
  background-color: #3F0533;
}

.article-wrapper {
  width: 75%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 130px 0;
}

@media all and (min-width: 992px) {
  .article-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.banner-wrapper {
  position: relative;
  padding-top: 18vh;
  margin: 0 auto;
  max-width: 480px;
}

.character-wrapper {
  max-width: 910px;
  margin: 0 auto 20px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.col {
  width: 100%;
}

@media all and (min-width: 576px) {
  .col-mobile-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    width: 50%;
  }
}

@media all and (min-width: 768px) {
  .col-tablet-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333%;
            flex: 0 0 33.333%;
    width: 33.333%;
  }
}

@media all and (min-width: 992px) {
  .col-desktop-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    width: 25%;
  }
}

.banner {
  background: url(/image/banner.png) no-repeat;
  background-size: cover;
}

.banner p {
  margin: 0 0 3vh;
  color: #E5E4E4;
  line-height: 1.7;
  font-size: 16px;
  font-family: Domine;
  font-weight: normal;
  letter-spacing: 2px;
}

@media all and (min-width: 992px) {
  .banner p {
    font-size: 22px;
  }
}

.character-title {
  color: #FF0048;
  margin: 60px 0;
  font-size: 26px;
  font-family: Domine;
  font-weight: normal;
  letter-spacing: 4px;
}

article {
  padding-bottom: 25px;
  background: url("/image/sea-horse-bg.jpg") no-repeat center/cover;
}

footer {
  padding: 45px 15px;
  background-color: #E5E4E4;
}

.copyright span {
  font-size: 14px;
  font-family: Doris;
  font-weight: normal;
  letter-spacing: 2px;
}

.copyright a {
  font-size: 14px;
  color: #FF0048;
  margin: 0 5px;
}

.nav-item {
  display: inline-block;
  padding: 15px;
  font-size: 17px;
}

.nav-item:hover {
  color: #FF0048;
}

.banner-circles, .article-circles {
  display: inline-block;
}

.banner-circles > div, .article-circles > div {
  width: 10px;
  height: 10px;
  margin: 20px 10px 20px;
  border-radius: 50%;
  background-color: #E5E4E4;
}

.banner-circles {
  margin-bottom: 2vh;
}

.article-circles {
  font-size: 0;
  margin: 70px 0;
}

.article-circles > div {
  display: inline-block;
}

.card {
  display: inline-block;
  width: 100%;
}

.card-body {
  padding: 15px 0 45px;
}

.banner-rect, .character-rect {
  background-color: #FF0048;
  color: #E5E4E4;
  font-size: 20px;
  font-family: Doris;
  font-weight: normal;
  letter-spacing: 4px;
}

.banner-rect::before, .character-rect::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 25px;
  left: 0;
  right: 0;
  bottom: -23px;
  margin: 0 auto;
  -webkit-clip-path: polygon(0 0, 100% 0, 50% 100%);
          clip-path: polygon(0 0, 100% 0, 50% 100%);
  background-color: #FF0048;
  z-index: 5;
}

.banner-rect {
  bottom: 0;
  left: 0;
  right: 0;
  width: 85%;
  margin: 0 auto;
  padding: 25px 0;
}

.character-rect {
  position: relative;
  letter-spacing: 2px;
  width: 100%;
  padding: 20px 10px;
}

.contact, .back {
  display: block;
  width: 240px;
  padding: 10px 0;
  margin: 0 auto;
  font-size: 16px;
  font-family: Doris;
  font-weight: normal;
  letter-spacing: 0;
}

.contact {
  background-color: #000000;
  border: 1px solid #000;
  margin-bottom: 50px;
}

.back {
  background-color: #E5E4E4;
  color: #000000;
}

.intro {
  color: #E5E4E4;
  text-align: left;
}

.intro .intro-title {
  font-size: 30px;
  font-family: Domine;
  font-weight: normal;
  letter-spacing: 2px;
}

@media all and (min-width: 992px) {
  .intro .intro-title {
    font-size: 44px;
  }
}

.intro p {
  text-align: justify;
  font-size: 16px;
  font-family: Doris;
  font-weight: normal;
  letter-spacing: 0;
}

@media all and (min-width: 992px) {
  .intro-wrapper:nth-of-type(1) {
    width: 42%;
  }
}

@media all and (min-width: 992px) {
  .intro-wrapper:nth-of-type(2) {
    width: 42%;
    margin-top: 300px;
  }
}

@media all and (min-width: 992px) {
  .desktop-none {
    display: none;
  }
}

.img-hover {
  position: relative;
}

.img-hover .caption {
  position: absolute;
  background-color: #F1B800;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  opacity: 0;
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.img-hover .caption:hover {
  opacity: 1;
  font-size: 50px;
}
/*# sourceMappingURL=main.css.map */