@import url("https://fonts.googleapis.com/css?family=Domine|Dosis:400,500,600,700|Lobster&display=swap");
.banner-rect, .character-rect {
  background-color: #FF0048;
  color: #ffffff;
  font-size: 20px;
  font-family: Dosis;
  font-weight: normal;
  letter-spacing: 4px;
}

.banner-rect::before, .character-rect::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 25px;
  left: 0;
  right: 0;
  bottom: -25px;
  margin: 0 auto;
  -webkit-clip-path: polygon(0 0, 100% 0, 50% 100%);
          clip-path: polygon(0 0, 100% 0, 50% 100%);
  background-color: #FF0048;
}

body {
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  text-align: center;
}

nav {
  font-size: 0;
  background-color: #3F0533;
}

a {
  text-decoration: none;
  color: #ffffff;
}

span {
  font-size: 16px;
  font-family: Dosis;
  font-weight: normal;
  letter-spacing: 2px;
}

h1 {
  margin: 0;
  word-spacing: 10px;
  color: #ffffff;
  font-size: 55px;
  font-family: Domine;
  font-weight: 400;
  letter-spacing: 5px;
}

h2 {
  margin: 0;
  color: #FF0048;
  font-size: 40px;
  font-family: Domine;
  font-weight: normal;
  letter-spacing: 3px;
}

h4 {
  margin: 2vh 0 15vh;
  color: #ffffff;
  font-size: 18px;
  font-family: Domine;
  font-weight: normal;
  letter-spacing: 10px;
}

img {
  width: 100%;
  vertical-align: middle;
}

figure {
  margin: 0 0 100px;
}

b {
  font-size: 66px;
  font-family: Lobster;
  font-weight: normal;
  letter-spacing: 1px;
}

.template {
  position: absolute;
  width: 100%;
  opacity: 0.6;
  top: 0;
  left: 0;
  z-index: -2;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.col {
  width: 100%;
}

@media all and (min-width: 576px) {
  .col-sm-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
}

@media all and (min-width: 768px) {
  .col-md-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
}

.banner {
  min-height: 95vh;
  background: url(/image/banner.png) no-repeat;
  background-size: cover;
}

.wrapper-character {
  max-width: 910px;
}

.wrapper-banner {
  position: relative;
  padding: 20vh 10px 10vh;
  margin: 0 auto;
  height: 95vh;
  max-width: 450px;
}

.wrapper-banner p {
  margin: 0 0 5vh;
  color: #ffffff;
  font-size: 16px;
  font-family: Domine;
  font-weight: normal;
  letter-spacing: 2px;
}

.nav-item {
  display: inline-block;
  padding: 15px;
  font-size: 17px;
}

.nav-item:hover {
  color: #FF0048;
}

.circles {
  display: inline-block;
}

.circles > div {
  width: 10px;
  height: 10px;
  margin: 20px;
  border-radius: 50%;
  background-color: #ffffff;
}

.card {
  display: inline-block;
  width: 100%;
}

.card-body {
  padding: 15px 0 45px;
}

.banner-rect {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 75%;
  margin: 0 auto;
  padding: 25px 0;
}

.character-rect {
  position: relative;
  width: 100%;
  padding: 20px 10px;
}
/*# sourceMappingURL=main.css.map */