%circles {
    display: inline-block;
    >div {
        width: 10px;
        height: 10px;
        margin: 20px 10px 20px;
        border-radius: 50%;
        background-color: $white;
    }
}

.banner-circles {
    margin-bottom: 3vh;
    @extend %circles;
}

.article-circles {
    font-size: 0;
    margin: 70px 0;
    @extend %circles;
    >div {
        display: inline-block;
    }
}