.img-hover {
    position: relative;
    .caption {
        position: absolute;
        background-color: $yellow;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        opacity: 0;
        transition-duration: 0.7s;
        &:hover {
            opacity: 1;
            font-size: 50px;
        }
    }
}