.article-wrapper {
    width: 75%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 130px 0;
    @include mediaquery-tablet {
        column-count: 2;
        column-gap: 15%;
    }
}

.intro-wrapper {}

.intro {
    color: red;
    text-align: left;
    .intro-title {
        @include font(45px, Domine, normal, 4px);
    }
}