.contact {
    background-color: $black;
    border: 1px solid #000;
    margin-bottom: 50px;
    @extend %button;
}

.back {
    margin-bottom: 25px;
    background-color: $white;
    @extend %button;
    a {
        color: $black;
    }
}