.intro {
    color: $white;
    text-align: left;
    .intro-title {
        @include font(30px, Domine, normal, 2px);
        @include mediaquery-desktop {
            font-size: 44px;
        }
    }
    p {
        text-align: justify;
        @include font(16px, Doris, normal, 0);
    }
}

.intro-wrapper:nth-of-type(1) {
    @include mediaquery-desktop {
        width: 42%;
    }
}

.intro-wrapper:nth-of-type(2) {
    @include mediaquery-desktop {
        width: 42%;
        margin-top: 300px;
    }
}

.desktop-none {
    @include mediaquery-desktop {
        display: none;
    }
}