.rect {
    position: relative;
    background-color: $primary;
    color: $white;
    @include font(20px, Dosis, normal, 5px);
    &::before {
        content: "";
        position: absolute;
        width: 50px;
        height: 25px;
        left: 0;
        right: 0;
        bottom: -25px;
        margin: 0 auto;
        clip-path: polygon(0 0, 100% 0, 50% 100%);
        background-color: $primary;
    }
}