%circles {
    display: inline-block;
    >div {
        @include size(10px, 10px);
        margin: 20px 10px 20px;
        border-radius: 50%;
        background-color: $white;
    }
}

.banner-circles {
    @extend %circles;
}

.article-circles {
    font-size: 0;
    margin: 70px 0;
    @extend %circles;
    >div {
        display: inline-block;
    }
}