.img-hover {
    position: relative;
    .caption {
        position: absolute;
        background-color: $yellow;
        text-align: center;
        font-size: 0;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        opacity: 0;
        transition-duration: 0.7s;
        &:hover {
            opacity: 1;
        }
        &::after {
            content: "";
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }
    }
}