.intro {
    color: $white;
    text-align: left;
    .intro-title {
        @include font(30px, Domine, normal, 2px);
        @include mediaquery-desktop {
            font-size: 44px;
        }
    }
    p {
        @include font(16px, Doris, normal, 0);
    }
}