%dialog-box {
    background-color: $primary;
    color: $white;
    @include font(20px, Doris, normal, 4px);
    &::before {
        content: "";
        position: absolute;
        width: 50px;
        height: 25px;
        top: auto;
        left: 0;
        right: 0;
        bottom: -23px;
        margin: 0 auto;
        clip-path: polygon(0 0, 100% 0, 50% 100%);
        background-color: $primary;
        z-index: 5;
    }
}

.banner-rect {
    @extend %dialog-box;
    bottom: 0;
    left: 0;
    right: 0;
    width: 85%;
    margin: 0 auto;
    padding: 25px 0;
}

.character-rect {
    position: relative;
    @extend %dialog-box;
    letter-spacing: 2px;
    width: 100%;
    padding: 20px 10px;
}