article {
    text-align: center;
    padding-bottom: 25px;
    background: url('../image/sea-horse-bg.jpg') no-repeat center/cover;
    background-attachment: fixed;
    @include mediaquery-desktop {
        background-size: 200%;
    }
}

.article-wrapper {
    display: flex;
    flex-direction: column;
    width: 75%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 130px 0;
    @include mediaquery-desktop {
        flex-direction: row;
        justify-content: space-between;
    }
    .intro-wrapper:nth-of-type(1) {
        @include mediaquery-desktop {
            width: 42%;
        }
    }
    .intro-wrapper:nth-of-type(2) {
        @include mediaquery-desktop {
            width: 42%;
            margin-top: 300px;
        }
    }
    .desktop-none {
        @include mediaquery-desktop {
            display: none;
        }
    }
}