.banner {
    background: url(/image/banner.png) no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 19vh;
    padding-bottom: 80px;
    p {
        margin: 0 0 4vh;
        color: $white;
        line-height: 1.7;
        @include font(15px, Domine, normal, 2px);
        @include mediaquery-desktop {
            font-size: 22px;
        }
    }
}

.banner-wrapper {
    margin: 0 auto;
    max-width: 480px;
}