  .article-wrapper {
      width: 75%;
      max-width: 1000px;
      margin: 0 auto;
      padding: 130px 0;
      @include mediaquery-desktop {
          display: flex;
          justify-content: space-between;
      }
  }
  
  .banner-wrapper {
      position: relative;
      padding-top: 19vh;
      margin: 0 auto;
      max-width: 480px;
  }
  
  .character-wrapper {
      max-width: 910px;
      margin: 0 auto 20px;
  }