.banner {
    background: url(/image/banner.png) no-repeat;
    background-size: cover;
    p {
        margin: 0 0 4vh;
        color: $white;
        line-height: 1.7;
        @include font(15px, Domine, normal, 2px);
        @include mediaquery-desktop {
            font-size: 22px;
        }
    }
}