    .banner {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        min-height: 95vh;
        background: url(/image/banner.png) no-repeat;
        background-size: cover;
        color: $white;
        .banner-content {
            max-width: 450px;
            p {
                font-size: 21px;
                letter-spacing: 2px;
            }
            .rect {
                width: 90%;
                margin: 0 auto;
                padding: 20px 0;
            }
        }
    }