.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    width: 100%;
}

// 6/12
.col-mobile-6 {
    @include mediaquery-mobile {
        flex: 0 0 50%;
        width: 50%;
    }
}

// 3/12 grid
.col-tablet-3 {
    @include mediaquery-tablet {
        flex: 0 0 25%;
        width: 25%;
    }
}