.wrapper-character {
    max-width: 910px;
    margin: 0 auto;
}

.wrapper-banner {
    position: relative;
    padding: 20vh 10px 10vh;
    margin: 0 auto;
    height: 95vh;
    max-width: 450px;
    p {
        margin: 0 0 5vh;
        color: $white;
        @include font(16px, Domine, normal, 2px);
    }
}