* {
    // outline: 1px solid;
    box-sizing: border-box;
}

a {
    color: $white;
}

span {
    @include font(16px, Doris, normal, 2px);
}

h1 {
    word-spacing: 10px;
    font-style: italic;
    color: $white;
    @include font(55px, Domine, 400, 5px);
    @include mediaquery-desktop {
        font-size: 65px;
    }
    >span {
        @include font(66px, Lobster, normal, 1px);
    }
}

h2 {
    color: $primary;
    @include font(40px, Domine, normal, 3px);
}

h4 {
    display: inline-block;
    vertical-align: middle;
    font-size: 50px;
}

h5 {
    margin-bottom: 17vh;
    line-height: 1.5;
    color: $white;
    @include font(18px, Domine, normal, 10px);
    @include mediaquery-desktop {
        font-size: 25px;
    }
}

img {
    width: 100%;
    vertical-align: middle;
}