body {
    text-align: center;
}

nav {
    font-size: 0;
    background-color: $secondary;
}

a {
    text-decoration: none;
    color: $white;
}

span {
    @include font(16px, Doris, normal, 2px);
}

h1 {
    margin: 0;
    word-spacing: 10px;
    color: $white;
    @include font(55px, Domine, 400, 5px);
}

h2 {
    margin: 0;
    color: $primary;
    @include font(40px, Domine, normal, 3px);
}

h4 {
    margin: 2vh 0 15vh;
    color: $white;
    @include font(18px, Domine, normal, 10px);
}

img {
    width: 100%;
    vertical-align: middle;
}

figure {
    margin: 0 0 100px;
}

article {
    background: url('/image/sea-horse-bg.jpg') no-repeat center/cover;
}

b {
    @include font(66px,
    Lobster,
    normal,
    1px);
}

button {
    >a {
        display: block;
    }
}

footer {
    padding: 45px 15px;
    background-color: $gray;
}